@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Monda&family=Pushster&display=swap');

body {
    font-family: 'Monda', sans-serif;
    background-color: azure;
    color: black;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 30px;
}

fieldset {
    margin-left: 20%;
    margin-right: 20%;
}

button {
    border-radius: 5%;
    background-color: rgb(236, 236, 238);
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }