@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

body {
    background-color: rgb(247, 237, 217);
    font-family: 'Monda', sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    width: 300px;
    height: 300px;
    margin-top: 40px;
}

button {
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 10%;
    background-color: #F4FEF7;
}

.imagem {
    text-align: center;
}

.button {
    margin-top: 40px;
    text-align: center;
}